---
import Global from "../layouts/Global.astro";
---

<Global />
<html>
    <head>
        <title>404 Not found.</title>
    </head>
    <body>
        <p>404 Not found - こんなところで何をしているんだ！</p>
    </body>
</html>
