---
import Global from "../../layouts/Global.astro";
---

<Global />
<html>
	<head>
        <title>Note - nekochan.cc</title>
    </head>
        <div id="CTitle">
            <h1>WIP.</h1>
        </div>
</html>